*{
    margin: 0;
    padding: 0;
}
body{
    background: black;
}
canvas{

    border-radius: 5px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    background: black;
    border: 2px solid blue;
}
.debug{
    color: blue;
    position: absolute;
    width: 120px;
    min-height: 100px;
    background: black;
    border: 1px solid blue;
    border-radius: 5px;
    font-weight: bold;
    padding: 15px;
    margin-left: 10px;
    margin-top: 10px;
}
#hide{
    margin-top:5px;
    margin-bottom: 5px;
    font-weight: bold;
    height: 30px;
    border-radius: 50px;
    color: black;
    background: blue;
    outline: none;
    border: none;
    width: 100%;
}
h3{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 50px;
    border: 1px solid blue;
    margin-top: 5px;
    margin-bottom: 5px;
}